/*******************************************************************
 styles_color.css

 This CSS file contains all color definitions like
 background-color, font-color, border-color etc.

 Styles are organised into the following sections:

  core
  header
  footer

  admin
  blocks
  calendar
  course
  doc
  login
  message
  question
  tabs
  user

  various modules

*******************************************************************/

/***
 ***  Core
 ***/

a:link,
a:visited {
  background-color: transparent;
  color: #275dfd;
}

a:hover {
  background-color: #f1ff83;
  color: #3b3f16;
}

a:active {
  background-color: #f1ff83;
  color: #3b3f16;
}

/*
a:link,
a:visited {
  color:#0000FF;
}

a:hover {
  color:#FF0000;
}
*/

a.dimmed:link,
a.dimmed:visited {
  color: #AAAAAA;
}

a.autolink:link,
a.autolink:visited {
  color: #000;
  background: #ddd;
}

span.helplink a:hover {
  background: transparent;
}



a.autolink.glossary:link,
a.autolink.glossary:visited,
a.autolink.glossary:hover,
a.autolink.glossary:active {
  border-bottom: 1px dotted #000;
  cursor: help;
  text-decoration: none;
}

a.autolink.glossary:link {
  background: transparent;
}

a.autolink.glossary:visited {
  background: #ededed;
}

a.autolink.glossary:hover {
  cursor: help;
}

img.userpicture,
img.grouppicture {
  border-color:#000
}

.block_online_users .listentry img {
  border:#888
}

body {
/*
  background-color:#FAFAFA;
*/
  background: #fff;
  color:#333;
}

h1, h2, h3, h4, h5, h6 {
  background: transparent;
  color: #3d3d3d;
}

#header {
  /* background-image: url(pix/banner.jpg); */
}

th.header,
td.header,
div.header {
  background-color: #f0f0f0;
  border-color: #ccc;
}

.navbar {
  background: #2251DB url(pix/globnav.jpg) repeat-x scroll 0 0;
  border: 1px solid #fff;
  border-width: 1px 0 0 0;
}

.breadcrumb li {
  color: #fff;
}

/* can not style links as buttons, because
   last element in list is just text, not 
   surrounded by <span> or <strong>; Moodle-hack necessary  */
.breadcrumb li a:link,
.breadcrumb li a:visited {
  background: transparent;
  color: #fff;
  text-decoration: none;
}

.breadcrumb li a:hover,
.breadcrumb li a:active {
  background: transparent;
  color: #fff;
  text-decoration: underline;
}

.breadcrumb li a:hover, 
.breadcrumb li a:active {
/*
  background: #5aa5ff;
*/
  color: #fff;
  text-decoration: underline;
}

#banner {
  background: #46468c url("banner.jpg") 0 40% repeat-x;
  border-bottom: 1px solid #5aa5ff;
}

table.formtable tbody th {
  background-color: transparent;
  background-image: none;
}

.highlight {
  background-color:#AAFFAA;
}

.highlight2 {
  color:#AA0000; /* highlight missing terms in forum search */
}

/* Alternate rows even */
.r0 {
}

/* Alternate rows odd */
.r1 {
}

/* notification messages (can be good or bad) */
.notifyproblem {
  color:#660000;
}
.notifysuccess {
  color:#006600;
}
.notifytiny {
  color:#000044;
}

#admin-auth_config .required {
  background-color: #ddd;
}

.generalbox {
  border-color:#ccc;
}
.informationbox {
  border-color:#ccc;
}
.feedbackbox {
  border-color: #888888;
}
.feedbackby {
  background-color:#BBBBBB;
}

.noticebox {
  border-color:#ccc;
}

.errorbox {
  color:#fff;
  border-color:#660000;
  background-color:#990000;
}

.errorboxcontent {
  background-color:#FFBBBB;
}

.tabledivider {
  border-color:#ccc;
}

.sitetopic {
}

.sitetopiccontent {
  border-color:#ccc;
  background-color:#fff;
}

.dimmed_text,
.dimmed_text a {
  color:#AAAAAA;
}

.teacheronly {
  color:#990000;
}

.unread {
  background: #FFD991;
}

.censoredtext {
  color:#000;
  background:#000;
}


/* kept for backward compatibility with some non-standard modules
   which use these classes for various things */
.generaltab, .generaltabinactive {
  background-color:#BBBBBB;
}
.generaltabselected {
  background-color:#ccc;
}
.generaltabinactive {
  color:#CCCCCC;
}


.generaltable .cell {
  background-color: #fff;
  border-color: #ccc;
}

.generaltable {
  border-color: #ccc;
}



/***
 *** Header
 ***/

#admin-report-simpletest-index .sep {
  color:#aaa;
}

.breadcrumb .sep {
  color: #fff;
}

.navigation select {
  background-color:#fff;
}

.navigation optgroup {
  background-color:#eee;
}

.navigation optgroup option {
  background-color:#fff;
}

/***
 *** Footer
 ***/

#footer {
  border-top: 1px solid #ccc;
  padding: .3em 0;
  width: 100%;
}

/*Accessibility: .debugwarn */
.debugwarn {
  text-align: center;
  background: #fdd;
}

.homelink a {
  background: url("pix/home.gif") 0 0 no-repeat;
}
 
.homelink a:link,
.homelink a:visited,
.homelink a:hover,
.homelink a:active {
  background-color: transparent;
  border-width: 0;
}

/***
 *** Admin
 ***/

.admin .generalboxcontent {
  background-color: #f0f0f0;
}

.admin .generalbox {
  border-color:#BBBBBB;
  background-color:#f0f0f0;
}

.admin .informationbox {
  border-color:#BBBBBB;
  background-color:#fff;
}

body#admin-index .c0 {
  background-color: #FAFAFA;
}

body#admin-blocks table#blocks .r0,
body#admin-blocks table#incompatible .r0 {
  background-color: #f0f0f0;
}

body#admin-blocks table#blocks .r1,
body#admin-blocks table#incompatible .r1 {
  background-color: #fafafa;
}

body#admin-blocks table#incompatible td.c0 {
  color: #ff0000;
}

table.flexible  .r0 {
  background-color: #f0f0f0;
}

table.flexible .r1 {
  background-color: #fafafa;
}

#admin-report-simpletest-index span.notice {
  color: teal;
}

#admin-report-simpletest-index b.pass {
  color: green;
}

#admin-report-simpletest-index b.fail, b.exception {
  color: red;
}

#admin-report-simpletest-index .exception, .exception pre {
  background-color: #fdd;
}

#admin-report-simpletest-index .unittestsummary {
  color: white;
}

#admin-report-simpletest-index .unittestsummary.failed {
  background-color: red;
}

#admin-report-simpletest-index .unittestsummary.passed {
  background-color: green;
}


.plugincompattable td.ok {
    color: #008000;
}

.plugincompattable td.warning {
    color: #DF7800;
}

.plugincompattable td.error {
    color: #DF0000;
}

/* Admin settings */

#adminsettings fieldset {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    color: #000;
}

#adminsettings fieldset.error {
  border: 1px solid red;
}

#adminsettings fieldset.error legend {
  color: red;
}

#adminsettings .form-shortname {
    color: #888;
}

#adminsettings .form-overridden {
    background-color: #ff6;
}

#adminsettings .form-warning {
    background-color: #f88;
}

#adminsettings .form-defaultinfo {
    color: #888;
}

#adminsettings .form-item .pathok {
    color: green;
}

#adminsettings .form-item .patherror {
    color: red;
}

.block_admin_tree.sideblock .link.current {
  background-color:#eee;
}

.block_admin_tree.sideblock .link.hidden {
  color:#999999;
}


#admin-lang .translator {
  border-color: #ccc;
}

#admin-lang .translator tr.r0 {
  background-color: #f0f0f0;
}

#admin-lang .translator tr.r1 {
  background-color: #fafafa;
}

#admin-lang .translator .strkey {
  color: #666666;
}

#admin-lang .translator .bothmissing {
  background-color: #ef6868;
}

#admin-lang .translator .mastermissing {
  background-color: #feff7f;
}

#admin-lang .translator .localdifferent {
  background-color: #aaffaa;
}

.environmenttable .error {
    background-color : red;
    color : inherit;
}

.environmenttable .warn {
    background-color : yellow;
}

.environmenttable .ok {
    background-color : lime;
}

#admin-uploaduser .uuinfo {
    background-color: #8e8;
}

#admin-uploaduser .uuwarning {
    background-color: #ee8;
}

#admin-uploaduser .uuerror {
    background-color: #e99;
}

/***
 *** Blocks
 ***/

/* moodalis box titles, mb */

.sideblock .header {
  background: #f0f0f0;
  border-color: #ccc;
  color: #555;
}

.sideblock .content {
  border-color: #ccc;
  background-color:#FCFCFC;
}

.sideblock .content ul.list li {
  border-top: 1px solid #efefef;
}

.sideblock .content ul.list>li:first-child {
  border-top: 1px solid #fcfcfc;
}

.sideblock .content hr {
  border-top-color:#999999;
}

.sideblock a:visited {
  background-color: transparent;
  color: #4271fd; /* light blue */
}

#left-column .hidden .header,
#right-column .hidden .header {
  border-bottom-color: #ccc;
}

#layout-table #left-column {
  border-right: 1px solid #ccc;
}

#layout-table #right-column {
  border-left: 1px solid #ccc;
}


/***
 *** Blogs
 ***/

.blogpost.blogdraft .content {
  background-color:#eee;
}

.block_blog_tags .official {
  color: #0000cc;
}

.block_blog_tags .personal {
  color: #666699;
}


/***
 *** Calendar
 ***/

#calendar .maincalendar,
#calendar .sidecalendar {
  border-color: #ccc;
}

#calendar .maincalendar table.calendarmonth th {
  border-color: #000;
}

table.minicalendar {
  border-color: #ccc;
}

#calendar .maincalendar .eventlist .event {
  border-color: #ccc;
}

#calendar .maincalendar .eventlist .event .topic,
#calendar .maincalendar .eventlist .event .picture,
#calendar .maincalendar .eventlist .event .side {
  background-color:#eee;
}

#calendar .maincalendar table.calendarmonth ul.events-underway {
  color:#999999;
}

/*Accessibility: increase contrast, darker link/weekend colors, lighter event backgrounds. */
.minicalendar a,
.calendarmonth a {
  color:#000077;
}

#calendar .event_global,
.minicalendar .event_global,
.block_calendar_month .event_global {
  border-color: #D6F8CD !important; /* #C5E7BC */
  background-color: #D6F8CD;
}

#calendar .event_course,
.minicalendar .event_course,
.block_calendar_month .event_course {
  border-color:#FFD3BD !important; /* #EEC2AC */
  background-color:#FFD3BD;
}


#calendar .event_group,
.minicalendar .event_group,
.block_calendar_month .event_group {
  border-color:#FEE7AE !important; /* #EDD69D */
  background-color:#FEE7AE;
}

#calendar .event_user,
.minicalendar .event_user,
.block_calendar_month .event_user {
  border-color:#DCE7EC !important; /* #CBD6DB */
  background-color:#DCE7EC;
}

#calendar .duration_global,
.minicalendar .duration_global {
  border-top-color:#66D14D !important;
  border-bottom-color:#66D14D !important;
}

#calendar .duration_course,
.minicalendar .duration_course {
  border-top-color:#FF9966 !important;
  border-bottom-color:#FF9966 !important;
}

#calendar .duration_course0,
.minicalendar .duration_course0 {
  border-top-color:#FF9966 !important;
  border-bottom-color:#FF9966 !important;
}

#calendar .duration_course1,
.minicalendar .duration_course1 {
  border-top-color:#0099FF !important;
  border-bottom-color:#0099FF !important;
}

#calendar .duration_course2,
.minicalendar .duration_course2 {
  border-top-color:#FFFF00 !important;
  border-bottom-color:#FFFF00 !important;
}

#calendar .duration_group,
.minicalendar .duration_group {
  border-top-color:#FBBB23 !important;
  border-bottom-color:#FBBB23 !important;
}

#calendar .duration_user,
.minicalendar .duration_user {
  border-top-color:#A1BECB !important;
  border-bottom-color:#A1BECB !important;
}

#calendar .weekend,
.minicalendar .weekend {
  color:#990000;
}

#calendar .today,
.minicalendar .today {
  border-color:#444444;
}

#calendar .nottoday,
.minicalendar .nottoday {
  border-color:#eee;
}

.cal_popup_fg {
  background-color:#fff;
}

.cal_popup_bg {
  border-color: #000;
  background-color: #fff;
}

#calendar .maincalendar .filters table,
#calendar .sidecalendar .filters table,
.block_calendar_month .filters table {
  background-color: #eee;
}

#calendar td.sidecalendar .sideblock {
  border-color: #ccc;
}


/***
 *** Course
 ***/

/* course, entry-page, login */
.headingblock {
  border-color:#ccc;
}

/* course */
.headingblock .outline {
  border-color:#ccc;
}

#course-view .weekscss .section,
#course-view .section td {
  border-color:#ccc;
}

/* .content should match the body background, sides are white. */
#course-view .weekscss .content {
  background: #fafafa;
}

#course-view .weekscss .section,
#course-view .section td.side {
  background: #fff;
}

#course-view .section .side {
}

#course-view .section .left {
}

#course-view .section .right {
}

#course-view .weekscss .current,
#course-view .current td.side {
  background: #f1ff83;
}

#course-view .weekscss .hidden,
#course-view .hidden td.side {
  background: #e6e6e6;
}

#course-view .hidden td.content {
  background: #f0f0f0;
}


#course-view .topics {
}

#course-view .weeks {
}

#course-view .section .spacer {
}

#course-view .section .weekdates {
  color: #777;
}

#course-view .weekscss .weekdates {
  color: #333;
}

.categoryboxcontent,
.coursebox {
  border-color:#ddd;
}
body#course-user .section {
  border-color:#AAAAAA;
}

#admin-report .plugin,
#course-report .plugin,
#course-import .plugin {
  margin-bottom: 20px;
  margin-left:10%;
  margin-right:10%;

  border-bottom: 1px solid #cecece;
  border-top: 1px solid #cecece;
  border-right: 1px solid #cecece;
  border-left: 1px solid #cecece;

  background-color: #fdfdfd;
}


/***
 *** Doc
 ***/

/***
 *** Grades
 ***/

body#grade-index .grades {
  border-color:black;
}

body#grade-index .grades td {
  border-color:#e0e0e0;
}

.grade-report-grader table#user-grades .heading td.topleft,
.grade-report-grader table#user-grades .heading th.c0 {
  background-color: #e6e6e6;
}

.grade-report-grader table#user-grades .heading td.topleft {
  border-bottom: #e6e6e6;
}

.grade-report-grader table#user-grades th.header {
  border: 1px solid #ccc;
}

body#grade-index .grades .r0 {
  background-color: #fff;
}

body#grade-index .grades .r1 {
  background-color: #f0f0f0;
}

/* grade edit */

.grade-edit-tree .moving {
  background-color: #e8eef7;
}

/***
 *** Login
 ***/

.loginbox,
.loginbox.twocolumns .loginpanel,
.loginbox .subcontent {
  border-color:#ccc;
}


/***
 *** Message
 ***/

table.message_search_results td {
  border-color:#ccc;
}

.message.other .author {
  color: #8888CC;
}

.message.me .author {
  color: #999;
}

.message .time {
  color: #999;
}

.message .content {
}

/***
 *** Question
 ***/

.que {
    border-color: #ddd;
}
.que .r0 {
    background-color: #f5f5f5;
}
.que .r1 {
    background-color: #eee;
}
.calculated .answer,
.numerical .answer,
.shortanswer .answer {
    background-color: #eee;
}
.essay .answerreview {
    background-color: #eee;
}
.que .feedback {
  border-color: #ccc;
}
.que .incorrect {
}

.que.multianswer .incorrect {
    background-color: #faa;
}
.que .partiallycorrect {
    background-color: #ff9;
}
.que .correct {
    background-color: #afa;
}


/***
 *** Logs
 ***/

.logtable .r1 {
  background-color: #eee;
}


/***
 *** Tabs
 ***/



/***
 *** User
 ***/

.userpicture {
}

.userinfobox {
  border-color: #ccc;
  background: #f0f0f0;
}
.groupinfobox {
  border-color: #ccc;
}

/***
 *** Modules: Chat
 ***/

#mod-chat-gui_basic .text,
#mod-chat-gui_header_js-jsupdate .text {
  color:#000
}

#mod-chat-gui_basic .event,
#mod-chat-gui_basic .title,
#mod-chat-gui_header_js-jsupdate .event,
#mod-chat-gui_header_js-jsupdate .title {
  color:#888
}

#mod-chat-gui_header_js-chatinput .wait {
    background: #ddd;
}

#mod-chat-view #chatcurrentusers .idletime {
  color: #888888;
}

/***
 *** Modules: Choice
 ***/

/***
 *** Modules: Forum
 ***/

.forumheaderlist,
.forumpost {
  border-color:#ccc;
}

.forumpost .content {
  background: #fff;
}

.forumpost .left {
  background:#eee;
}

.forumpost .topic {
  border-bottom-color: #eee;
}

.forumpost .starter {
  background: #f1f7c0;
}

.forumheaderlist .discussion .starter,
.forumheaderlist .discussion .picture,
.forumheaderlist .discussion .author,
.forumheaderlist .discussion .replies,
.forumheaderlist .discussion .lastpost {
  background: #f1f7c0;
}

.forumheaderlist td {
  border-color: #fff;
}

.sideblock .post .head {
  color:#555555;
}

.forumthread .unread {
  background: #FFD991;
}
#mod-forum-discuss .forumpost {
  background: none;
}

#mod-forum-discuss .forumpost.unread .content {
  border-color: #FFD991;
}

#mod-forum-discuss .forumthread .unread {
}

#mod-forum-index .unread {
}


/***
 *** Modules: Glossary
 ***/

.entryboxheader {
  border-color: #bbb;
}

.entrybox {
  border-color: #bbb;
}

.entry {
}

.glossarypost {
  border-color: #ccc;
}

.glossarypost .entryheader,
.glossarypost .entryapproval,
.glossarypost .picture,
.glossarypost .entryattachment,
.glossarypost .left {
  background-color: #F0F0F0;
}

.glossarycomment {
  border-color: #ccc;
}

.glossarycomment .entryheader,
.glossarycomment .picture,
.glossarycomment .left {
  background-color: #F0F0F0;

}

#mod-glossary-report .generalbox .teacher {
  background: #F0F0F0;
}

.glossarycategoryheader {
  background-color: #ddd;
}

.glossaryformatheader {
  background-color: #ddd;
}


/***
 *** Modules: Journal
 ***/

#mod-journal-view .feedbackbox .left,
#mod-journal-view .feedbackbox .entryheader {
  background-color: #ddd;
}

/***
 *** Modules: Label
 ***/

/***
 *** Modules: Lesson
 ***/

/***
 *** Modules: Quiz
 ***/

table.quizattemptsummary .bestrow td {
  background-color: #e8e8e8;
}

table.quizreviewsummary th.cell {
  background: #f0f0f0;
}
table.quizreviewsummary td.cell {
  background: #fafafa;
}

/***
 *** Modules: Resource
 ***/

.ims-nav-dimmed {
  color: #AAAAAA;
  text-decoration: none;
}

.ims-nav-button a:link,
.ims-nav-button a:visited,
.ims-nav-button a:hover {
  color: #000;
  text-decoration: none;
}

.ims-nav-dimmed,
.ims-nav-button a:link,
.ims-nav-button a:visited {
  border-top: 1px solid #cecece;
  border-bottom: 2px solid #4a4a4a;
  border-left: 1px solid #cecece;
  border-right: 2px solid #4a4a4a;
}

.ims-nav-button a:hover {
  border-bottom: 1px solid #cecece;
  border-top: 2px solid #4a4a4a;
  border-right: 1px solid #cecece;
  border-left: 2px solid #4a4a4a;
}

#ims-contentframe,
#ims-contentframe-no-nav {
  border-color: #cecece;
}


/***
 *** Modules: Scorm
 ***/

/***
 *** Modules: Survey
 ***/

#mod-survey-view .r0 {
  background-color: #eee;
}
#mod-survey-view .r1 {
  background-color: #ddd;
}


/***
 *** Modules: Wiki
 ***/

/***
 *** Modules: Workshop
 ***/

.workshoppostpicture {
  background-color:#FEE6B9;
}

.workshopassessmentheading {
  background-color:#ddd;
}

.error {
  color:#ff0000;
}

#admin-roles-override .capcurrent {
  background-color:#fff;
  border: 1px solid #cecece;
}

#admin-roles-manage .capdefault {
  background-color:#ddd;
  border: 1px solid #cecece;
}

#admin-roles-manage .rolecap,
#admin-roles-override .rolecap {
  border:none;
  border-bottom:1px solid;
  border-bottom-color: #cecece;
}

#admin-roles-manage .rolecap .cap-desc .cap-name,
#admin-roles-override .rolecap .cap-desc .cap-name {
  color: #888;
}

form.mform .required label {
  color:#a00;
}
form.mform .fdescription.required {
  color:#a00;
}
form.mform .required .fgroup span label {
  color:#000;
}
