<?php

/**
* @package mod-tracker
* @category mod
* @author Clifford Tham, Valery Fremaux > 1.8
* @date 02/12/2007
*
* From for adding a comment
*/

if (!defined('MOODLE_INTERNAL')) {
    die('Direct access to this script is forbidden.');    ///  It must be included from view.php in mod/tracker
}

print_heading(get_string('addacomment', 'tracker'));
print_simple_box_start('center', '100%', '', '', 'generalbox', 'bugreport');
$issue = get_record('tracker_issue', 'id', $form->issueid);
?>

<center>
<!-- Print Comment Form -->
<form name="commentform" action="view.php" method="post">
	<input type="hidden" name="what" value="doaddcomment">
	<input type="hidden" name="screen" value="viewanissue">
	<input type="hidden" name="issueid" value="<?php p($form->issueid) ?>">
	<input type="hidden" name="id" value="<?php p($cm->id) ?>">

<table border="0" cellpadding="5" width="100%">
	<tr>
		<td align="right" width="200">
			<b><?php print_string('summary', 'tracker') ?>:</b>
		</td>
		<td align="left">
		    <?php echo format_string($issue->summary) ?>
		</td>
	</tr>
	<tr>
		<td align="right" width="200">
			<b><?php print_string('description') ?>:</b>
		</td>
		<td align="left">
		    <?php echo format_string($issue->description) ?>
		</td>
	</tr>
	<tr>
		<td align="right" width="200">
			<b><?php print_string('comments', 'tracker') ?></b>
		</td>
		<td>
		    <hr/>
		</td>
	</tr>
<?php
if (count_records('tracker_issuecomment', 'issueid', $form->issueid)){
    tracker_printcomments($issueid);
}
?>
	<tr>
		<td colspan="2">
		    <hr/>
		</td>
	</tr>
	<tr>
		<td align="right" width="200" valign="top">
			<b><?php print_string('comment', 'tracker') ?>:</b>
		</td>
		<td valign="top" align="left">
<?php
            print_textarea($usehtmleditor, 20, 60, 680, 400, 'comment', @$form->comment);
            if ($usehtmleditor) {
                echo '<input type="hidden" name="commentformat" value="'.FORMAT_HTML.'" />';
            } 
            else {
                echo '<p align="right">';
                helpbutton('textformat', get_string('formattexttype'));
                print_string('formattexttype');
                echo ':&nbsp;';
                if (empty($form->format)) {
                    $form->format = "MOODLE";
                }
                choose_from_menu(format_text_menu(), 'commentformat', $form->format, ''); 
                echo '</p>';
            }
?>
		</td>
	</tr>
    <tr>
        <td colspan="2">
		    <?php
		    $onsubmitcall = ($usehtmleditor) ? "document.forms['commentform'].onsubmit();" : '' ;
		    ?>
			<input type="submit" name="save" value="<?php print_string('continue') ?>" />
			<input type="button" name="cancel_btn" value="<?php print_string('cancel') ?>" onclick="document.forms['commentform'].what.value = '';document.forms['commentform'].screen.value = 'viewanissue';<?php p($onsubmitcall) ?>document.forms['commentform'].submit();" />
		</td>
	</tr>
</table>
</form>
<?php
print_simple_box_end();
?>
</center>