<?php

/**
* @package mod-tracker
* @category mod
* @author Clifford Tham, Valery Fremaux > 1.8
* @date 02/12/2007
*
* A form for updating a stored query
*/

print_heading(get_string('editquery', 'tracker'));
print_simple_box_start('center', '100%', '', '', 'generalbox', 'bugreport');
$checkdate = ($form->checkdate) ? "checked=\"checked\"" : '' ;
?>
<center>

<!-- Print Query Description -->

<form name="editqueryform" action="view.php" method="post">
<input type="hidden" name="what" value="updatequery">
<input type="hidden" name="queryid" value="<?php p($form->queryid) ?>">
<input type="hidden" name="screen" value="myqueries">
<input type="hidden" name="id" value="<?php p($cm->id) ?>">

<script type="text/javascript" language="javascript">
var datereporteditems = ['day','month','year'];
</script>
<table border="0" cellpadding="5 width="800">
    <tr>
        <td align="right"><b><?php print_string('queryname', 'tracker') ?>:</b></td>
        <td colspan="3" align="left">
            <input type="text" name="name" size="70" value="<?php echo $form->name ?>" maxlength="100" />
        </td>
    </tr>
    <tr>
        <td align="right" width="150"><b><?php print_string('reportedby', 'tracker') ?>:</b></td>
        <td width="150" align="left">
            <?php
                $reporters = tracker_getreporters($tracker->id);
            
                $reportersmenu = array();
                foreach($reporters as $reporter){
                    $reportersmenu[$reporter->id] = fullname($reporter);
                }
                choose_from_menu($reportersmenu, 'reportedby', implode('', $fields['reportedby']), get_string('any', 'tracker'));
            ?>
        </td>
        <td align="right" width="150"><b><?php print_string('datereported', 'tracker') ?>:</b></td>
        <td width="300" align="left">
            <input type="checkbox" name="checkdate" value="1" onclick="return lockoptions('editqueryform', 'checkdate', datereporteditems)" <?php p($checkdate) ?> />
            <?php print_date_selector('day', 'month', 'year', '');  ?>
        </td>
        <td>&nbsp;</td>
    </tr>
    
    <tr>
        <td align="right"><b><?php print_string('summary', 'tracker') ?>:</b></td>
        <td colspan="3" align="left">
            <input type="text" name="summary" size="70" value="<?php echo implode(',', $fields['summary']) ?>" maxlength="100" />
        </td>
    </tr>
    <tr valign="top">
        <td align="right"><b><?php print_string('description') ?>:</b></td>
        <td align="left" colspan="3">
             <input name="description" type="text" value="<?php echo implode(',', $fields['description']) ?>" size="70" maxlength="100" />
        </td>
    </tr>
    
    <!--Print Bug Category Dropdowns-->
    <tr>
        <td>
            <?php $elements = tracker_printelements($tracker, $fields, 'query')?>
        </td>
    </tr>
    <tr valign="top">
        <td align="center" colspan="4">
            <input type="submit" name="go_btn" value="<?php print_string('savechanges') ?>" />
            <input type="button" name="cancel_btn" value="<?php print_string('cancel') ?>" onclick="document.forms['editqueryform'].what.value = ''; document.forms['editqueryform'].submit()" />
        </td>
    </tr>
</table>
</form>
<?php
print_simple_box_end();
$nohtmleditorneeded = true;
?>
</center>
<script type="text/javascript">
lockoptions('editqueryform','checkdate', datereporteditems);
</script>
