/********************************************************
  
styles_reset.css

  * Resets default browser CSS styles.
  * Resets Standard theme CSS styles.

Original by Erik Meyer:

  * meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/
   
********************************************************/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
}

body {
  line-height: 1;
  background: white;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

blockquote, q {
  quotes: "" "";
}

.sideblock .content,
.sideblock .header,
table.minicalendar,
.sitetopic,
h2.headingblock,
.categorybox,
.coursebox,
table.forumpost,
table.userinfobox {
  border: none;
}

hr {
  background: #ddd; 
  color: #ddd;
  clear: both; 
  float: none; 
  width: 100%; 
  height: 0.1em;
  margin: 0 0 1.4em 0;
  border: none; 
}

* html hr { 
  margin: 0 0 1.2em 0; /* IE6 fix */
} 