/* Core */

a:link {
    color: #02416D;
}

a:visited {
    color:#02416D;
}

a:hover {
    color: #83c8ff;
	text-decoration:none;
}

a.dimmed:link,
a.dimmed:visited {
  color:#AAAAAA;
}

/***
 *** Top Menu
 ***/


#top_menu {
	background:url('images/default/top_menu.gif') repeat-x top center;
}

#top_menu ul li {
	background:url('images/default/top_menu_line.gif') right top no-repeat;
}	

/***
 *** Header
 ***/

#logo { 
/* background: url('images/default/logo.png') no-repeat left top;  */
/* height: 90px; */

background: url('header-school-logo.jpg') no-repeat left top;
height: 170px;

} 
#header-home { height: 170px; }

#header-home, #header {
  background: url('images/default/header-grad.jpg') repeat-x;
}

h1.headermain {
  background-color: transparent;
}

.header-profilename, .header-profilename a {
	background-color: transparent;
	color:#999999;

}

.header-profilename, .header-profilename a:hover {
	background-color: transparent;
	color: #83c8ff;
	text-decoration:none;

}

.header-profileoptions {
	background-color: transparent;
	color:#dfdfdf;

}

.header-profileoptions, .header-profileoptions a {
	background-color: transparent;
	color:#999999;

}


.header-profileoptions a:hover {
	background-color: transparent;
	color: #83c8ff;
	text-decoration:none;

}

/*  rounded corners */
.sideblock .header, .sideblock .footer , .sideblock .content {
/*
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
*/
background-color:#EFEFEF;
}

.sideblock .footer , .sideblock .content {
-webkit-border-bottom-left-radius: 5px;
-webkit-border-bottom-right-radius: 5px;
-moz-border-radius-bottomleft: 5px;
-moz-border-radius-bottomright: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
}

.sideblock .header {
-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
}

#content {
    background-color: white;
}

#header-home #logo {
 display: block; width: 950px; height: 170px;
}

#header-home #logo , #header-home {
 height: 59px;
}

#site-index #header-home #logo , #site-index #header-home, 
#course-category #header-home #logo , #course-category #header-home {  
  height: 170px;
}
