.errorbox{
   margin-height : 10px;
   color : #D00000 ;
   border : 1px solid #FF0000;
   text-align : center;
}

.formerror{
   border : red 1px solid;
   background-color : #FDD9D9;
}

.unvalidformdata{
   border : 1px solid #FF0000;
}

.privateform{
   border : 1px solid #800000;
   filter : alpha(opacity=60);
   opacity : 0.6
}

.pressed { 
    border : inset 2px ; 
    background-color : #C0C0C0 ;
    padding : 3px ;
}
.raised { 
    border : outset 2px ; 
    background-color : #E0E0E0 ;
    padding : 3px ;
}

.participant {
    color : #008000 ;
    background-color : #A0EF9C ;
}

.manager {
    color : #800000 ;
    background-color : #E6B5B5 ;
}

