.ht_parent{
	background:#dddddd;
}
.ht_open{
	background:#ffffff;
}
.hinline{
    font-size: 80%;
    border-bottom-style:dotted;
    border-bottom-width: 1px;
	background:#eeeeee;
}
.htext{
	border-style:dashed;
	border-width:1px;
	margin-left:15px;
	margin-top:5px;
	margin-bottom:10px;
	padding:10px;
	border-color:#cccccc;
	background:#eeeeee;
}
.hcode{
	border-style:dashed;
	border-width:1px;
	margin-left:15px;
	margin-top:5px;
	margin-bottom:10px;
	padding:10px;
	border-color:#cccccc;
	background:#eeeeee;
	white-space: pre;
	font-family: "Courier", monospace;
}