/***

 ***	Core: Body

 ***/



body {

	background: #32352c url(images/core/fins.jpg) center top no-repeat;

	color:#009900; /////text colour///////

	font-family: Comic Sans, Comic Sans MS, cursive;

    font-size : 14px;

}



a:link,

a:visited {

    color:#085322;

	text-decoration: none;
	font-weight:bold;

}



a:hover {

    color: #0AC14A;

	text-decoration: none;



}



a.dimmed:link,

a.dimmed:visited {

	color:#aaaaaa;

	text-decoration: none;



}



#page {

	border: 0px solid #ffffff;

	margin-left: auto;

	margin-right: auto;

	max-width: 960px;

}



#pagelayout {

	width:960px;

	margin-left:auto;

	margin-right:auto;

}



#layout-table {

	margin-top:0;

	padding-top:10px;

}



#layout-table #middle-column{

  vertical-align:top;

  padding-left:7px;

  padding-right:5px;

}



#layout-table #left-column{

  vertical-align:top;

  padding-left:4px;

  padding-right:0px;

}



#layout-table #right-column{

  vertical-align:top;

  padding-left:0px;

  padding-right:6px;

}





#content {

    background: #ffffff url(images/core/h2grad.jpg) top repeat-x;

    margin-top:0;

	padding-top:10px;



}



hr {

	border-bottom:1px dotted #cccccc;

	border-top:1px solid #ffffff !important;

	border-left:1px solid #ffffff !important;

	border-right:1px solid #ffffff !important;

}



h1.main,

h2.main,

h3.main,

h4.main,

h5.main,

h6.main {

	text-align: center;

	margin:0px;

	padding-top:10px;

	padding-bottom:10px;

}



th.header,

td.header,

h1.header,

h2.header,

h3.header,

div.header {

	border-left: 0px;

	border-right: 0px;

	border-bottom: 0px;

	color: #505050;

}



.header {

	border: none !important;

	clear: both;

	}



.generalbox {

    background: transparent;

	border: 0px;

}



/***

 ***	Core: Header

 ***/



#header {

	height: 100px;

}



#logo {

	background: url(images/header/logo.png) no-repeat left top;
	width: 100%;

	height: 100px;

	float: left;

	left: 0px;

}



/***

 ***	Core: Footer

 ***/



#footer {

	background: #ffffff;

	margin-top: 0px;

	padding:10px;

}



#footer .footerlogos {

	margin-top: 5px;

	border-top: 1px dotted #cccccc;

}



#footer .footerlogos ul li {

	padding-left: 5px;

	padding-right: 5px;

	display: inline;

	margin:2px;

}



#footer p {

	font-size : 10px;

	}



/***

 ***	Core: ProfileBlock

 ***/



#profileblock {

	float: right;

	text-align: right;

	max-width: 500px;

	right: 0px;





}



#profilepic {

	text-align:right;

	float: right;

	margin: 8px;

	width: 80px;

	height: 80px;

	border: 1px solid #ffffff;

}



#profilelogin {

	text-align:right;

	width: 390px;

	margin-right: 0px;

	margin-top:6px;

	margin-bottom:0px;

	float: right;

}



#profilelogin ul li {

	padding-left: 10px;

	padding-right: 0px;

	display: inline;

	margin-right:0px;

}



.profilelogin .loginform {

	width: 8em;

	margin-left:4px;

	display: inline;

}



.profilelogin, .profilelogin a {

	color:#ffffff;

	text-decoration: none;

}



.profilelogin, .profilelogin a:hover {

	text-decoration:none;

}



#profilename {

	text-align:right;

	width: 390px;

	margin-right: 0px;

	margin-top:40px;

	margin-bottom:0px;

	float: right;

}



#profilename ul li {

	padding-left: 10px;

	padding-right: 0px;

	display: inline;

	margin-right:0px;

}



.profilename .loginform {

width: 5em;

margin-left:4px;

display: inline;

    font-size:0.8em;



}



.profilename, .profilename a {

	color:#ffffff;

    font-size:1.4em;

	letter-spacing: -2px;

	text-decoration: none;

	font-weight:bold;

	margin-right:2px;

}



.profilename, .profilename a:hover {

	text-decoration:none;

}



#profileoptions {

	text-align:right;

	width: 390px;

	margin-right: 0px;

	margin-top: 0px;

}



#profileoptions ul li {

	padding-left: 10px;

	padding-right: 0px;

	display: inline;

	margin-right:0px;

}



.profileoptions {

	background-color: transparent;

	color:#ffffff;

	text-decoration: none;

	letter-spacing: 0px;

}



.profileoptions, .profileoptions a {

	background-color: transparent;

	color:#ffffff;

}



.profileoptions a:hover {

	background-color: transparent;

	text-decoration:underline;

}







/***

 ***	Core: Menubar Date

 ***/



#gekko_menu_date a {

	float:right;

	padding: 16px 5px 0 17px;

	height:30px;

	color: #ffffff;

	text-decoration:none;

	background:#005F01 url('images/menu/dategrad.jpg') repeat-x top center;

}



#gekko_menu_date a:hover {

	color: #ffffff;

	text-decoration:none;

	background:#005F01 url('images/menu/hovergrad.jpg') repeat-x top center;

	}





/***

 ***	Core: YUI Menubar

 ***/





.yuimenubar /* Entire bar */ {

	background:#83dd00 url('images/menu/menugrad.jpg') repeat-x top center;

	height:46px;

	margin:0;

	}



.yuimenu /* Sub container */ {

	background-color: #ffffff;

	z-index: 10000;

	}



.yuimenu a {

	text-decoration: none;

	background-color: #83dd00;

	font-size : 0.9em;

	}



a.yuimenubaritemlabel /* Bar item link */ {

	padding: 16px 15px 0px 17px;

	height:30px;

	color: #fff;

	}



a.yuimenuitemlabel /* Sub item link */ {

	padding: 4px 24px;

	border-bottom:1px solid #054f1f;

	border-left:1px solid #054f1f;

	border-right:1px solid #054f1f;

	}



.yuimenubar li.first-of-type .yuimenubaritemlabel {

	border-width:0; /* No border on the first bar item link */

	}



.yuimenubaritem-hassubmenu /* Add down arrow to bar item */ {

	}



.yuimenuitem-hassubmenu /* Add right arrow to sub item */ {

	background: #89CD2C url(images/menu/menuitem_submenuindicator_selected.png) right center no-repeat;

	}



a.yuimenuitemlabel-hassubmenu {

	background: none;

	}



/* Selected MenuItem */



li.yuimenubaritem-selected /* Bar menu item */ {

	background:#005F01 url('images/menu/hovergrad.jpg') repeat-x top center;

	}



li.yuimenuitem-selected  /* Sub menu item */ {

	color: #fff

	}



a.yuimenubaritemlabel-selected, /* Bar menu item link selected */ {

	text-decoration: none;

	color: #fff;

	}



a.yuimenuitemlabel-selected  /* Sub menu item link selected */ {

	text-decoration: none;

	color: #085322;

	background-color: #ffffff;

	}



.yuimenubaritem-hassubmenu-selected /* Change down arrow on bar item */ {

	}



.yuimenuitem-hassubmenu-selected /* Change right arrow on sub item */ {

	background: #ffffff url(images/menu/menuitem_submenuindicator.png) right center no-repeat;

	}



a.yuimenuitemlabel-hassubmenu-selected {

	background: none;

	}



/***

 ***	Core: NavBar

 ***/



.navbar {

    background:#ffffff;

	border-top:0px;

	border-bottom:solid 1px gray;

	border-left:0px;

	border-right:0px;

}





/***

 ***	Core: Side Block (the left and right bits)

 ***/



.sideblock {

	border:1px solid #dedede;

	background: #ffffff;

	}



.sideblock a {

	text-decoration: none;

	font-size: 12px;

	}



#left-column .sideblock .header {

	background: url(images/sideblocks/leftrib.png) no-repeat left top;

	height: 56px;

	width: 100%;

	position: relative;

	left:-20px;

	top: 10px;

	}



#right-column .sideblock .header {

	background: url(images/sideblocks/rtrib.png) no-repeat right top;

	height: 56px;

	width: 100%;

	position: relative;

	right: -12px;

	top: 10px;

	}



.sideblock h2 {

	font-size: 15px;

	font-weight:normal;

	color: #ffffff;

	padding-top: 12px;

	padding-bottom: 2px;

	padding-left: 3px;

	}



#left-column .sideblock h2 {

	padding-left: 7px;

	}



#right-column .sideblock h2 {

	position: relative;

	text-align: right;

	right: 10px;

	}



.sideblock .content {

	border: none !important;

	}



.sideblock .commands {

	background: url(images/sideblocks/commandsB.png) !important;

	border: 1px solid #ddd;

	padding: 0px;


	}







/***

 ***	Core: Course (the middle bit)

 ***/



.coursebox {

	background: #ffffff;

	border: 0px;

	margin-bottom: 0px;

	margin-right: 2px;

}



body#site-index .headingblock,

body#course-view .headingblock {

	margin-bottom: 0px;

}



.section {

	background: #ffffff;

}



#course-view .section td.content {

	border-top:0px;

	border-left:0px;

	border-right:0px;

	border-bottom:1px dashed #dfdfdf;

}



#course-view .section td.side {

  border-width:0px;

}



/***

 ***	Modules: Forum

 ***/



.forumpost {

	border: 0px;

	width: auto;

	overflow:none;

}



.forumpost .left {

	background:#ffffff url('images/forum/leftpost.png') no-repeat top left;

}



.forumpost .picture,

.forumpost .topic {

	background:#ebebeb url('images/forum/forumheader.png');

	border:0px;

}



.forumpost .topic a:link,

.forumpost .topic a:visited {

}



.forumpost img {

  max-width: 100%;

}



/***

 ***	Modules: Calendar

***/



/* colors for calendar events */

#calendar .event_global,

.minicalendar .event_global,

.block_calendar_month .event_global {

  border-color:#cff689 !important;

  background-color:#cff689;

}



#calendar .event_course,

.minicalendar .event_course,

.block_calendar_month .event_course {

  border-color:#c6dfeb !important;

  background-color:#c6dfeb;

}



#calendar .event_group,

.minicalendar .event_group,

.block_calendar_month .event_group {

  border-color:#feffc2 !important;

  background-color:#feffc2;

}



#calendar .event_user,

.minicalendar .event_user,

.block_calendar_month .event_user {

  border-color:#d9c6e2 !important;

  background-color:#d9c6e2;

}



table.minicalendar tr td.weekend {

  color: red;

  }



  #calendar .duration_global,

.minicalendar .duration_global {

  border-top-color:#cff689 !important;

  border-bottom-color:#cff689 !important;

}



#calendar .duration_course,

.minicalendar .duration_course {

  border-top-color:#FF9966 !important;

  border-bottom-color:#FF9966 !important;

}



#calendar .duration_course0,

.minicalendar .duration_course0 {

  border-top-color:#FF9966 !important;

  border-bottom-color:#FF9966 !important;

}



#calendar .duration_course1,

.minicalendar .duration_course1 {

  border-top-color:#0099FF !important;

  border-bottom-color:#0099FF !important;

}



#calendar .duration_course2,

.minicalendar .duration_course2 {

  border-top-color:#FFFF00 !important;

  border-bottom-color:#FFFF00 !important;

}



#calendar .duration_group,

.minicalendar .duration_group {

  border-top-color:#FBBB23 !important;

  border-bottom-color:#FBBB23 !important;

}



#calendar .duration_user,

.minicalendar .duration_user {

  border-top-color:#A1BECB !important;

  border-bottom-color:#A1BECB !important;

}



#calendar .weekend,

.minicalendar .weekend {

  color:red;

}

#email {background-color: white }
