/*******************************************************************
 styles_color.css
  
 This CSS file contains all color definitions like 
 background-color, font-color, border-color etc.

 Styles are organised into the following sections:

  core
  header
  footer

  admin
  blocks
  calendar
  course
  doc
  login
  message
  user

  various modules

*******************************************************************/

/***
 ***  Core
 ***/

a:link {
  color:#72C718
}
a:visited {
  color:#72C718
}
a.dimmed:link,
a.dimmed:visited {
  color:#999
}
a:hover {
  color:#528C11;
}
a.autolink {
  background-color:#FFCECF;
  border-bottom:1px solid #A74;
}
body {
  background: #FFFFFF;
}
#page {
  background: #FFFFFF;
}
h1.main,
h2.main,
h3.main,
h4.main,
h5.main,
h6.main {
  color:#999
}
#layout-table #left-column {
  /*background-color:#FFF0E1*/
}
table.formtable tbody th {
  background:none
}
.highlight {
  background-color:#AFA
}
.highlight2 {
  color:#A00
}
/* Alternate rows even */
.r0 {  
}
/* Alternate rows odd */
.r1 {  
}
/* notification messages (can be good or bad) */
.breadcrumb .sep {
  color: #DA3; 
}
.notifyproblem {
  color:#600
}
.notifysuccess {
  color:#060
}
.required {
  background-color:#FFCECF
}
.generalbox {
  border-color:#DDD;
  background-color:#FFF0E1
}
.informationbox {
  border-color:#DDD
}
.feedbackbox {
  border-color:#888
}
.feedbackby {
  background-color:#BBB
}
.noticebox {
  border-color:#DDD
}
.errorbox {
  color:#FFF;
  border-color:#600;
  background-color:#900
}
.tabledivider {
  border-color:#DDD
}
.sitetopic {
}
.sitetopiccontent {
  border-color:#DDD;
  background-color:#FFF
}
.dimmed_text {
  color:#999
}
.teacheronly {
  color:#900
}
.unread {
  background:#FFD991
}
.censoredtext {
  color:#000;
  background:#000
}
.generaltable th.header {
  background-color:#FF9D9F;
  border-color:#FF3C41
}
.generaltable .r1 {
  background-color:#D7D7D7
}
.generaltable {
  border-color: #bbbbbb;
}

/* kept for backward compatibility with some non-standard modules
   which use these classes for various things */
.generaltab, .generaltabinactive {
  background-color:#BBB
}
.generaltabselected {
  background-color:#FFCECF
}
.generaltabinactive {
  color:#CCC
}

/***
 *** Header
 ***/

/***
 *** Footer
 ***/

#footer {
  border-top-color:#FF3C41
}
.homelink a:link,
.homelink a:visited,
.homelink a:hover {
  background-color:transparent;
  color:#FFF;
  text-decoration:none
}
.homelink a:link,
.homelink a:visited {
  border-top:1px solid #CECECE;
  border-bottom:2px solid #4A4A4A;
  border-left:1px solid #CECECE;
  border-right:2px solid #4A4A4A
}
.homelink a:hover {
  border-bottom:1px solid #CECECE;
  border-top:2px solid #4A4A4A;
  border-right:1px solid #CECECE;
  border-left:2px solid #4A4A4A
}

/***
 *** Admin
 ***/
 
.admin .generalboxcontent {
  background-color:#F5F5F5
}
.admin .generalbox {
  border-color:#BBB
}
.admin .informationbox {
  border-color:#BBB; 
  background-color:#FFF
}
body#admin-index .c0 {
  background-color:#FAFAFA
}
#admin-config .r0 {
  background-color:#F5F5F5
}
#admin-config .r0 .c0{
  background-color:#FFCECF
}
#admin-config .r1 {
  color:#666
}
#admin-config h2.main {
  background-color:#FFCECF
}
.logtable th.header {
  background-color:#FF9D9F;
  border-color:#FF3C41
}
#adminsettings fieldset span.form-shortname {
  color: #999;
}
#adminsettings fieldset {
  background-color: #FFF0E1;
  border-color: #DDD;
}

/***
 *** Blocks
 ***/

.sideblock {
  border-color:#DDD;
  background-color:#FFF0E1
}
.sideblock .header {
  color:#FFF;
  padding:5px 5px 5px 5px;
}

.sideblock .content {
}
.sideblock .content hr {
  border-top-color:#999
}
.sideblock .list {
}
#left-column .sideblock .header {
  border-bottom-color:#FFF0E1
}
#left-column .sideblock .list td {
  border-color:#FFF
}
#right-column .sideblock .header {
  border-bottom-color:#CCDDEF
}
#right-column .sideblock .content {
  background-color:#FFF0E1
}
.sideblock .link {
  border-bottom-color:#FFF
}
.sideblock .post {
  border-bottom-color:#FFF
}
.sideblock h1.main:first-letter,
.sideblock h2.main:first-letter,
.sideblock h3.main:first-letter,
.sideblock h4.main:first-letter,
.sideblock h5.main:first-letter,
.sideblock h6.main:first-letter {
  color:#999
}


/***
 *** Calendar
 ***/

#calendar .maincalendar,
#calendar .sidecalendar {
  border-color:#DDD
}
#calendar .maincalendar table.calendarmonth th {
  border-color:#000
}
table.minicalendar {
  border-color:#DDD;
  background:#FFFFFF;
}
#calendar .maincalendar .eventlist .event {
  border-color:#DDD
}
#calendar .maincalendar .eventlist .event .topic,
#calendar .maincalendar .eventlist .event .picture,
#calendar .maincalendar .eventlist .event .side {
  background-color:#F5F5F5
}
#calendar .maincalendar table.calendarmonth ul.events-underway {
  color:#999
}
#calendar .event_global,
.minicalendar .event_global,
.block_calendar_month .event_global {
  border-color:#2EBA0E !important;
  background-color:#2EBA0E
}
#calendar .event_course,
.minicalendar .event_course,
.block_calendar_month .event_course {
  border-color:#F96 !important;
  background-color:#F96
}
#calendar .event_group,
.minicalendar .event_group,
.block_calendar_month .event_group {
  border-color:#FBBB23 !important;
  background-color:#FBBB23
}
#calendar .event_user,
.minicalendar .event_user,
.block_calendar_month .event_user {
  border-color:#A1BECB !important;
  background-color:#A1BECB
}
#calendar .duration_global,
.minicalendar .duration_global {
  border-top-color:#2EBA0E !important;
  border-bottom-color:#2EBA0E !important
}
#calendar .duration_course,
.minicalendar .duration_course {
  border-top-color:#F96 !important;
  border-bottom-color:#F96 !important
}
#calendar .duration_group,
.minicalendar .duration_group {
  border-top-color:#FBBB23 !important;
  border-bottom-color:#FBBB23 !important
}
#calendar .duration_user,
.minicalendar .duration_user {
  border-top-color:#A1BECB !important;
  border-bottom-color:#A1BECB !important
}
#calendar .weekend,
.minicalendar .weekend {
  color:#F00
}
#calendar .today,
.minicalendar .today {
  border-color:#DDD !important
}
.cal_popup_fg {
  background-color:#FFF
}
.cal_popup_bg {
  border-color:#000;
  background-color:#FFF
}
#calendar .maincalendar .filters table,
#calendar .sidecalendar .filters table,
.block_calendar_month .filters table {
  background-color:transparent
}


/***
 *** Course
 ***/

#course-view .headingblock {
  border-left-color:#494F58;
}
#course-view .section td {
  border-color:#DDD
}
#course-view .section .content .section {
  background-color:#FFF0E1
}
#course-view .section .content .section .activity {
  border-bottom-color:#FFF
}
#course-view .section .content .section .label {
  background-color:#FFF
}
#course-view .section .side {
}
#course-view .section .left {
  background-color:#BD1E1A;
  color:#FFFFFF;
}
#course-view .section .right {
}
#course-view .current .side{
}
#course-view .topics {
}
#course-view .weeks {
}
#course-view .section .spacer {
}
#course-view .section .weekdates {
  color:#999
}
/*.editing .section .content .summary {
  background-color:#FFF
}*/
.categoryboxcontent,
.courseboxcontent {
  border-color:#DDD;
  background:#FFF
}
#course-user .section {
  border-color:#999
}
#course-user #content,
#user-view #content,
#user-edit #content,
.admin #content,
.course #content,
#files-index #content {
  background-color:#F5F5F5
}
#user-edit #content .generalbox,
#user-view .userinfobox tr {
  background-color:#FFF
}
#site-index #content,
#course-view #content {
  background-color:#FFF
}
#course-user .logtable .r1 {
  background-color:#DFDFDF
}
#course-view .section.hidden *,
#course-view .section.hidden .content,
#course-view .section.hidden .side {
  border-color:#F5F5F5;
  color:#999
}
#course-view .section.hidden .left {
  background-color:#F5F5F5
}

/***
 *** Doc
 ***/

/***
 *** Login
 ***/

.loginbox {
  background-color:#FFF0E1
}

.loginbox,
.loginbox.twocolumns .loginpanel,
.loginbox .subcontent {
  border-color:#DDD
}

/***
 *** Message
 ***/

table.message_search_results td {
  border-color:#DDD
}
.message.other .author {
  color:#88C
}
.message.me .author {
  color:#999
}
.message .time {
  color:#999
}
.message .content {
}

/***
 *** User
 ***/

.userpicture {
  background:#F5F5F5
}
.userinfobox {
  border-color:#DDD;
  background-color:#F7F7F7
}
.groupinfobox {
  border-color:#DDD;
  background-color:#FCFCFC
}

/***
 *** Modules:Assignment
 ***/

.assignmentsubmission {
}
.assignmentnew .assignmentfeedback{
  background-color:#FFCECF
}   
  
.assignmentold .assignmentfeedback{
  background-color:#BBB
}
.assignmentheading {
  background-color:#BBB
}

/***
 *** Modules:Chat
 ***/

/***
 *** Modules:Choice
 ***/

/***
 *** Modules:Forum
 ***/
 
.mod-forum #content {
  background-color:#FFF0E1
}
#mod-forum-user #content {
  background-color:#F5F5F5
}
.forumheaderlist,
.forumpost {
  border-color:#DDD;
  background-color:#FFF
}
.forumheaderlist .header {
  background-color:#FF9D9F;
  border-color:#FF3C41
}
.forumpost .content {
  background:#FFF
}
.forumpost .left {
  background:#F5F5F5
}
.forumpost .topic {
  border-bottom-color:#F5F5F5
}
.forumpost .starter {
  background-color:#FF9D9F
}
.forumheaderlist .discussion .starter {
  background-color:#FFCECF
}
.forumheaderlist td {
  border-color:#FFF
}
.sideblock .post .head {
  color:#555
}
.forumthread .unread {
  background:#FFD991
}
#mod-forum-discuss .forumpost {
  background:none
}
#mod-forum-discuss .forumpost.unread .content {
  border-color:#FFD991
}
#mod-forum-discuss .forumthread .unread {
}
#mod-forum-index .unread {
}

/***
 *** Modules:Glossary
 ***/
 
.mod-glossary #content {
 background-color:#FFF0E1
}
.entryboxheader {
  border-color:#BBB
}
.entrybox {
  border-color:#BBB;
  background-color:#FFF
}
.glossarypost {
  border-color:#DDD;
  background-color:#FFF
}
.glossarypost .entryheader,
.glossarypost .entryapproval,
.glossarypost .picture,
.glossarypost .entryattachment,
.glossarypost .left {
  background-color:#F0F0F0
}
.glossarycomment {
  border-color:#DDD
}
.glossarycomment .entryheader,
.glossarycomment .picture,
.glossarycomment .left {
  background-color:#F0F0F0
}
#mod-glossary-report .generalbox .teacher {
  background:#F0F0F0
}
.glossarycategoryheader {
  background-color:#FF9D9F
}
.glossaryformatheader {
  background-color:#FFCECF
}
.glossarydisplay {
  border-bottom-color:#FFF0E1
}

/***
 *** Modules:Journal
 ***/

#mod-journal-view .feedbackbox .left,
#mod-journal-view .feedbackbox .entryheader {
  background-color:#FFCECF
}
/***
 *** Modules:Label
 ***/

/***
 *** Modules:Lesson
 ***/

/***
 *** Modules:Quiz
 ***/

body#mod-quiz-report table#attempts td {
  border-color:#DDD
}
body#mod-quiz-report table#attempts .r1 {
  background-color:#F5F5F5
}

/***
 *** Modules:Resource
 ***/

/***
 *** Modules:Scorm
 ***/

/***
 *** Modules:Survey
 ***/

#mod-survey-view .r0 {
  background-color:#F5F5F5
}
#mod-survey-view .r1 {
  background-color:#FFCECF
}

/***
 *** Modules:Wiki
 ***/

/***
 *** Modules:Workshop
 ***/

.workshoppostpicture {
  background-color:#FEE6B9
}
.workshopassessmentheading {
  background-color:#FFCECF
}
