/* Core */

body {
    margin: 5px;
}


h1.main,
h2.main,
h3.main,
h4.main,
h5.main,
h6.main {
  text-align: left;
  padding-left: 5px;
}

h1, h2, h3, h4 {
  text-align: left;
}

h1 {
  padding: 6px;
}

h2 {
  padding: 4px;

}

h3 {
  padding: 3px;

}

#layout-table #left-column, #layout-table #right-column {
    /*border: 1px solid;*/
    border: none;
    padding: 0px;
}

#left-column .hidden .header, #right-column .hidden .header {
border-bottom-style:dashed;
border-bottom-width:1px;
}

#layout-table {
  border: none;
}

#content {
clear:both;
}

h1, h2, h3, th.header {
  border-width: 0px;
  border-style: solid;
}

h4 {
  border-bottom-style: solid;
  border-bottom-width:1px;
}

input, select {
  padding: 0px;
}
#layout-table #middle-column{
  vertical-align:top;
  padding-left:6px;
  padding-right:6px;
}
.sitetopic {
  padding:0px;
  margin: 0px;
}

.generaltable {
  border-width:0px;
}


.generalbox {
  border-width:1px;
  border-style:solid;
}

.sitetopiccontent {
  border-width:1px;
  border-style:solid;
}

.clearfix {
 min-width: 0;
 /* overflow: hidden; */
}

.clearfix:after {
  /* content: "<!-- -->";  */
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

/***
 *** Header
 ***/

#header-home {
  /* padding:1em 0.5em; */
  height:100px;
  border-width:0px;
  border-style:solid;
}

#header {
  /*height:50px;*/
  border-width:0px;
  border-style:solid;
}

.headermain, h1.headermain {
  float:left;
  margin:0%;
  padding:0%;
  border-width: 0px;
  padding-left: 5px;
}

.headermenu {
  float:right;
  text-align:right;
}

.navbar {
  width:100%;
  padding:3px 0.5em;
  border-width:0px;
/*  border-style:solid; */
}

div.navbar {
  width: auto;
}

table.navbar {
  width: 100%;
}

.navbar .navbutton form {
  float: left;
}

.navbar .navbutton {
  margin-top: 3px;
}

.navbar .breadcrumb {
  float:left;
  margin:0.2em 0em;
}

.breadcrumb ul {
  padding:0%;
  margin:0%;
  text-indent:0%;
  list-style:none;
}
.breadcrumb li {
  display:inline;
}

.navbar .navbutton,
.navbar .menu {
  float:right;
}

#footer .navbar {
  margin-top: 4em;
}


/***
 *** Login
 ***/

TABLE.loginbox {
  margin-top: 40px;
}

.loginbox .header {
  border-width:1px;
  border-style:solid;
  border-bottom-width: 0px;
}

.loginbox .content {
  border-top-width: 1px;
}


/***
 *** Footer
 ***/

#footer {
  text-align:center;
  margin-top: 5px;
  margin-bottom: 0px;
}


#footer p.helplink {
 margin-bottom: 0px;
}


/***
 *** Blocks
 ***/
.sideblock, .sideblock .header, .sideblock .content  {
  border-width: 0px;
 }


.sideblock .header h2 {
  border-width: 0px;
  padding-top: 4px;
 }

.sideblock .header .hide-show-image {
 padding-top: 4px;
}

.sideblock .footer {
  border-top-width:1px;
  border-top-style:dashed;
}


/***
 *** Calendar
 ***/


#calendar .today,
.minicalendar .today {
  border:1px solid !important;
}


table.minicalendar {
  width: 100%;
  margin:10px auto;
  padding:2px;
  border-width:1px;
  border-style:solid;
  border-collapse:separate;
  border-spacing:1px !important;
}

table.minicalendar tr.weekdays th {
   border-style: none;
}



table.minicalendar tr td.day {
  border-style: solid;
  border-width: 1px;
}

table.minicalendar tr.weekdays th abbr {
  border-style: none;

  }

table.minicalendar {
  border: none;
}

table.calendarmonth {
  border-collapse:separate;
  border-spacing:1px !important;
  border: none;
}



table.calendarmonth tr td  {
  border-style: solid;
  border-width: 1px;
}


/***
 *** Course
 ***/

.headingblock {
  border-width:1px;
  border-style:solid;
  padding:5px;
}


.categorybox .category,
.categorybox .category {
  border-bottom: solid;
  border-width: 1px;
  padding-top: 7px;
}

#course-view .section .left {
  border-right-width: 1px;
  border-right-style: dashed;
}

#course-view .section.hidden .content,
#course-view .section.hidden .side {
  border-width: 1px;
  border-style: dashed;
}

#course-view .section td.content ul.section.img-text {
	line-height: 22px;
}

#course-view .section td.content ul.section.img-text li.activity.label {
	line-height: 16px;
	margin-bottom: 5px;
}

.coursebox .info .name {
  padding-bottom: 5px;
  }

.tabrow0 {
   padding-top: 4px;
}

/***
 *** Modules: glossary
 ***/

.entry .concept,
.entryheader .concept {
   margin-top: 5px;
   margin-bottom: 10px;
}

.glossarypost.continuous {
	padding: 5px;
}

/***
 *** Error message
 ***/

.errorbox {
/*   color:#ffffff; */
   border-width: 2px;
}

/*  Special setting for the BOOK module  (nadavkav patch) */
.dir-ltr .book_toc_bullets ul,
.dir-ltr .book_toc_indented ul,
.dir-ltr .book_toc_numbered ul,
.dir-ltr .book_toc_none ul {
padding-right:0;
padding-left:7px;
text-align:left;
}

/* slim footer */
#footer .navbar {
margin-top:0;
}

/*  selected TAB in FN TAB course format */
.fnweeklynavselected {
background-color:#3B5998;
}

/* make login box stretch all over the page */
.loginbox {
margin-left:1px;
width:auto;
}

.yt-video-entry img {
width:200px;
}